/* [project]/components/layout/header/header.css [app-client] (css) */
.header-style-three .header-lower {
  z-index: 100;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .07);
  position: relative;
  box-shadow: 0 2px 14px rgba(0, 0, 0, .06);
}

.fixed-header.header-style-three .header-lower {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media (max-width: 991px) {
  .fixed-header.header-style-three .header-lower {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.main-menu .navigation > li.dropdown {
  position: relative !important;
}

.main-menu .navigation > li > .simple-dropdown {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 9999;
  background: #fff;
  border-radius: 0 0 8px 8px;
  width: 250px;
  margin-top: 15px;
  padding: 15px 0;
  transition: opacity .28s, visibility .28s, margin-top .28s;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
  display: block !important;
}

.main-menu .navigation > li.dropdown:hover > .simple-dropdown {
  pointer-events: auto;
  margin-top: 0;
  opacity: 1 !important;
  visibility: visible !important;
}

.main-menu .navigation > li > .simple-dropdown > li {
  width: 100%;
  border-bottom: none !important;
}

.main-menu .navigation > li > .simple-dropdown > li > a {
  text-decoration: none;
  transition: all .3s;
  display: block;
  color: #333 !important;
  text-transform: capitalize !important;
  border-bottom: 1px solid rgba(0, 0, 0, .05) !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 1.5 !important;
}

.main-menu .navigation > li > .simple-dropdown > li:last-child > a {
  border-bottom: none !important;
}

.main-menu .navigation > li > .simple-dropdown > li > a:hover {
  background: #f9f9f9;
  color: #fe5e04 !important;
  padding-left: 25px !important;
}

.main-menu .navigation > li > .simple-dropdown > li.has-children > a {
  position: relative;
}

.main-menu .navigation > li > .simple-dropdown > li.has-children > a .dropdown-arrow {
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  width: 6px;
  height: 6px;
  transition: all .3s;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%)rotate(-45deg);
}

.main-menu .navigation > li > .simple-dropdown > li.has-children:hover > a .dropdown-arrow {
  border-color: #fe5e04;
}

.main-menu .navigation > li > .simple-dropdown > li {
  position: relative;
}

.main-menu .navigation > li > .simple-dropdown > li > .sub-dropdown {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 99999;
  background: #fff;
  border-radius: 8px;
  width: 250px;
  padding: 10px 0;
  transition: opacity .3s, visibility .3s, left .3s;
  position: absolute;
  top: 0;
  left: 110%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
  display: block !important;
}

.main-menu .navigation > li > .simple-dropdown > li:hover > .sub-dropdown {
  pointer-events: auto;
  left: 100%;
  opacity: 1 !important;
  visibility: visible !important;
}

.main-menu .navigation > li > .simple-dropdown > li > .sub-dropdown > li {
  width: 100%;
}

.main-menu .navigation > li > .simple-dropdown > li > .sub-dropdown > li > a {
  text-decoration: none;
  transition: all .3s;
  display: block;
  color: #444 !important;
  text-transform: capitalize !important;
  border-bottom: none !important;
  padding: 8px 20px !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  line-height: 1.5 !important;
}

.main-menu .navigation > li > .simple-dropdown > li > .sub-dropdown > li > a:hover {
  background: #f9f9f9;
  color: #fe5e04 !important;
  padding-left: 25px !important;
}

@media (max-width: 1199px) {
  .main-menu .navigation > li > .simple-dropdown {
    width: 240px;
  }
}

@media (max-width: 991px) {
  .main-menu .navigation > li > .simple-dropdown {
    display: none !important;
  }
}

.main-menu .navigation > li:not(.dropdown) > a:after, .main-menu .navigation > li:not(.dropdown) .dropdown-btn, .main-menu .navigation > li:not(.dropdown) > a:before {
  content: none !important;
  display: none !important;
}

/*# sourceMappingURL=components_layout_header_header_css_bad6b30c._.single.css.map*/