/* [project]/public/assets/css/module-css/team-details.css [app-client] (css) */
.team-details {
  position: relative;
}

.team-details .image-box {
  border-radius: 23px;
  display: block;
  position: relative;
}

.team-details .image-box img {
  border-radius: 23px;
  width: 100%;
}

.team-details .content-box {
  background: #f5f8fa;
  border-radius: 20px;
  padding: 60px 50px 124px 55px;
  display: block;
  position: relative;
  box-shadow: 0 4px 30px rgba(205, 192, 192, .25);
}

.team-details .content-box h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 46px;
  display: block;
}

.team-details .content-box .designation {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 30px;
  display: block;
  position: relative;
}

.team-details .content-box p {
  margin-bottom: 30px;
}

.team-details .content-box p:last-child {
  margin-bottom: 0;
}

.team-details .team-info-box {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding: 40px 0;
  position: relative;
}

.team-details .team-info-box:before {
  content: "";
  background: #e1e1e1;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
}

.team-details .team-info-box h3 {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  display: block;
  position: relative;
}

.team-details .team-info-box .education-info li {
  margin-bottom: 20px;
  padding-left: 37px;
  display: block;
  position: relative;
}

.team-details .team-info-box .education-info li:last-child {
  margin-bottom: 0;
}

.team-details .team-info-box .education-info li .icon-box {
  color: var(--theme-color);
  font-size: 24px;
  position: absolute;
  top: 4px;
  left: 0;
}

.team-details .team-info-box .education-info li:last-child .icon-box {
  top: 0;
}

.team-details .team-info-box .education-info li span {
  text-transform: uppercase;
  width: 190px;
  color: var(--title-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 29px;
  display: inline-block;
  position: relative;
}

.team-details .team-info-box .progress-inner {
  max-width: 580px;
}

.team-details .team-info-box .schedule-list {
  max-width: 510px;
}

.team-details .team-info-box .schedule-list li {
  color: var(--title-color);
  margin-bottom: 26px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  display: block;
  position: relative;
}

.team-details .team-info-box .schedule-list li:last-child {
  margin-bottom: 0;
}

.team-details .team-info-box .schedule-list li span {
  float: right;
  color: var(--text-color);
  font-weight: 400;
}

.team-details .team-info-box .schedule-list li:last-child span {
  color: var(--title-color);
  font-weight: 700;
}

.team-details .contact-box h3 {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  display: block;
}

.team-details .contact-box .single-column .form-group {
  margin-bottom: 20px;
}

.team-details .contact-box .form-group.message-btn {
  margin-top: 40px;
  margin-bottom: 0;
}

.team-details .team-info-box .right-column {
  margin-left: 70px;
}

.rtl .team-details .team-info-box .right-column {
  margin-left: 0;
  margin-right: 70px;
}

.rtl .team-details .team-info-box .schedule-list li span {
  float: left;
}

.rtl .team-details .team-info-box .education-info li {
  padding-left: 0;
  padding-right: 37px;
}

.rtl .team-details .team-info-box .education-info li .icon-box {
  left: inherit;
  right: 0;
}

.rtl .progress-box .count-text {
  right: inherit;
  left: -10px;
}

@media only screen and (max-width: 1599px) {
  @media only screen and (max-width: 991px) {
    .team-details .image-box {
      margin-bottom: 30px;
    }

    .team-details .team-info-box:before {
      display: none;
    }

    .team-details .team-info-box .right-column {
      margin-top: 30px;
      margin-left: 0;
    }

    .rtl .team-details .team-info-box .right-column {
      margin-right: 0;
    }
  }

  @media only screen and (max-width: 767px) {
    .team-details .content-box {
      padding: 45px 30px 50px;
    }

    .team-details {
      padding: 70px 0;
    }
  }

  @media only screen and (max-width: 499px) {
    .team-details .team-info-box .education-info li span {
      width: 100%;
      display: block;
    }
  }
}

/*# sourceMappingURL=public_assets_css_module-css_team-details_css_bad6b30c._.single.css.map*/