/* [project]/public/assets/css/module-css/download.css [app-client] (css) */
.download-section {
  position: relative;
}

.content_block_six .content-box {
  max-width: 530px;
  display: block;
  position: relative;
}

.content_block_six .content-box .btn-box {
  align-items: center;
  display: flex;
  position: relative;
}

.content_block_six .content-box .btn-box button {
  font-size: 20px;
  line-height: 25px;
  font-family: var(--title-font);
  color: #fff;
  text-align: left;
  border-radius: 32.5px;
  padding: 14px 30px 14px 74px;
  font-weight: 600;
  transition: all .5s;
  display: inline-block;
  position: relative;
}

.content_block_six .content-box .btn-box button:hover {
  background: var(--title-color) !important;
}

.content_block_six .content-box .btn-box button span {
  color: #fff;
  font-size: 10px;
  line-height: 12px;
  display: block;
  position: relative;
}

.content_block_six .content-box .btn-box button i {
  font-size: 32px;
  position: absolute;
  top: 17px;
  left: 25px;
}

.content_block_six .content-box .btn-box button.app-store {
  background: var(--theme-color);
  margin-right: 30px;
}

.content_block_six .content-box .btn-box button.play-store {
  background: var(--secondary-color);
}

.content_block_six .content-box .text-box p {
  margin-bottom: 30px;
}

.content_block_six .content-box .text-box p:last-child {
  margin-bottom: 0;
}

.download-section .image-layer {
  position: absolute;
  top: 120px;
  right: 0;
}

.content_block_seven .content-box {
  background: #fff;
  border-radius: 10px 10px 10px 0;
  margin-top: 236px;
  padding: 50px;
  display: block;
  position: relative;
  box-shadow: 0 4px 30px rgba(205, 192, 192, .25);
}

.content_block_seven .content-box:before {
  content: "";
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 100%, 0% 0%);
  background: #fff;
  width: 52px;
  height: 52px;
  position: absolute;
  bottom: -52px;
  left: 0;
}

.content_block_seven .content-box h3 {
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  display: block;
}

.content_block_seven .content-box .shape {
  background-repeat: no-repeat;
  width: 359px;
  height: 245px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.download-section .pattern-layer .pattern-1 {
  background-repeat: no-repeat;
  width: 489px;
  height: 255px;
  position: absolute;
  top: 0;
  left: 0;
}

.download-section .pattern-layer .pattern-2 {
  background-repeat: no-repeat;
  width: 345px;
  height: 355px;
  animation: 7s linear infinite zoom-fade;
  position: absolute;
  top: 0;
  right: 600px;
}

.download-section .ambulance {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media only screen and (max-width: 1599px) {
  @media only screen and (max-width: 1200px) {
    .download-section .image-layer {
      display: none;
    }

    .content_block_seven .content-box {
      margin: 0;
    }

    .download-section .ambulance, .download-section .pattern-layer {
      display: none;
    }
  }

  @media only screen and (max-width: 991px) {
    .content_block_six .content-box {
      max-width: 100%;
      margin-bottom: 30px;
    }
  }

  @media only screen and (max-width: 767px) {
    .download-section {
      padding-top: 64px;
    }
  }

  @media only screen and (max-width: 599px) {
    .content_block_seven .content-box {
      padding: 50px 30px;
    }
  }

  @media only screen and (max-width: 499px) {
    .content_block_six .content-box .btn-box {
      display: block;
    }

    .content_block_six .content-box .btn-box button.app-store {
      margin-bottom: 20px;
      margin-right: 0;
      display: block;
    }
  }
}

/*# sourceMappingURL=public_assets_css_module-css_download_css_bad6b30c._.single.css.map*/