/* [project]/public/assets/css/module-css/pricing.css [app-client] (css) */
.pricing-section {
  position: relative;
}

.pricing-block-one .pricing-table {
  background: #f5f8fa;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 59px 30px 55px 90px;
  display: block;
  position: relative;
}

.pricing-block-one .pricing-table .title-box {
  text-align: left;
  margin-bottom: 36px;
  padding-left: 70px;
  display: inline-block;
  position: relative;
  left: -20px;
}

.pricing-block-one .pricing-table .title-box .icon-box {
  position: absolute;
  top: -6px;
  left: 0;
}

.pricing-block-one .pricing-table .title-box h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  display: block;
}

.pricing-block-one .pricing-table .title-box span {
  color: var(--text-color);
  font-size: 16px;
  display: block;
  position: relative;
}

.pricing-block-one .pricing-table .price-box h2 {
  padding-left: 17px;
  font-size: 64px;
  font-weight: 600;
  line-height: 52px;
  display: inline-block;
  position: relative;
}

.pricing-block-one .pricing-table .price-box h2 .text {
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  font-family: var(--title-font);
  color: var(--text-color);
}

.pricing-block-one .pricing-table .price-box h2 .symble {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}

.pricing-block-one .pricing-table .table-header {
  margin-bottom: 35px;
}

.pricing-block-one .pricing-table .table-content .theme-btn {
  margin-bottom: 25px;
  padding: 20px 62px;
}

.pricing-block-one .pricing-table .feature-list li {
  margin-bottom: 13px;
  padding-left: 18px;
  font-weight: 500;
  display: block;
  position: relative;
}

.pricing-block-one .pricing-table .feature-list li:last-child {
  margin-bottom: 0;
}

.pricing-block-one .pricing-table .feature-list li:before {
  content: "";
  font-family: icomoon;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
}

.pricing-block-one .pricing-table .popular-tags {
  letter-spacing: .08em;
  text-transform: uppercase;
  color: #fff;
  background: var(--theme-color);
  writing-mode: vertical-lr;
  padding: 10px 0;
  font-size: 14px;
  line-height: 29px;
  position: absolute;
  top: 0;
  right: 25px;
}

.pricing-block-one .pricing-table .popular-tags:before {
  content: "";
  background: var(--theme-color);
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 100%, 0% 0%);
  width: 14px;
  height: 10px;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.pricing-block-one .pricing-table .popular-tags:after {
  content: "";
  background: var(--theme-color);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 0%);
  width: 14px;
  height: 10px;
  position: absolute;
  bottom: -10px;
  right: 0;
}

.rtl .pricing-block-one .pricing-table .title-box {
  text-align: right;
}

.rtl .pricing-block-one .pricing-table .price-box h2 {
  padding-left: 0;
  padding-right: 17px;
}

.rtl .pricing-block-one .pricing-table .price-box h2 .symble {
  left: inherit;
  right: 0;
}

.rtl .pricing-block-one .pricing-table .feature-list li {
  padding-left: 0;
  padding-right: 18px;
}

.rtl .pricing-block-one .pricing-table .feature-list li:before {
  left: inherit;
  right: 0;
  transform: rotate(180deg);
}

@media only screen and (max-width: 1599px) {
  @media only screen and (max-width: 767px) {
    .pricing-section {
      padding: 70px 0 40px;
    }
  }

  @media only screen and (max-width: 499px) {
    .pricing-block-one .pricing-table {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

/*# sourceMappingURL=public_assets_css_module-css_pricing_css_bad6b30c._.single.css.map*/