/* [project]/public/assets/css/module-css/appointment.css [app-client] (css) */
.appointment-section {
  background: var(--secondary-color);
  position: relative;
}

.appointment-section .left-column {
  float: left;
  clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%, 0% 0%);
  width: 50%;
  min-height: 735px;
  padding: 432px 0 24px;
  position: relative;
}

.appointment-section .left-column .bg-layer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.appointment-section .left-column .content-box {
  border-radius: 10px;
  width: 423px;
  padding: 32px 70px 32px 40px;
  position: absolute;
  bottom: 24px;
  right: 0;
  background: linear-gradient(135deg, #fe5e04 0%, #ea9203 100%) !important;
}

.appointment-section .left-column .content-box:before {
  content: "";
  border: 1px solid #fe5e04;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.appointment-section .left-column .content-box .icon-box {
  margin-bottom: 9px;
  display: block;
  position: relative;
}

.appointment-section .left-column .content-box h3 {
  color: #fff;
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  display: block;
  position: relative;
}

.appointment-section .left-column .content-box span {
  font-size: 30px;
  line-height: 38px;
  font-family: var(--secondary-font);
  color: #fff;
  font-weight: 700;
  display: block;
  position: relative;
}

.appointment-section .left-column .content-box span a {
  color: #fff;
  display: inline-block;
}

.appointment-section .left-column .content-box span a:hover {
  text-decoration: underline;
}

.appointment-section .right-column {
  float: right;
  width: 50%;
  padding: 74px 30px 109px 60px;
  position: relative;
}

.appointment-section .right-column .form-inner {
  background: #fff;
  max-width: 526px;
  padding: 50px 50px 58px;
  display: block;
  position: relative;
}

.appointment-section .right-column .form-inner:before {
  content: "";
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 100%, 0% 0%);
  background: #fff;
  width: 52px;
  height: 52px;
  position: absolute;
  bottom: -52px;
  left: 0;
}

.appointment-section .right-column .form-inner .shape {
  background-repeat: no-repeat;
  width: 359px;
  height: 245px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.appointment-section .right-column .form-inner h3 {
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  display: block;
}

.appointment-section .right-column .form-inner .form-group {
  margin-bottom: 20px;
  position: relative;
}

.appointment-section .right-column .form-inner .form-group input[type="text"], .appointment-section .right-column .form-inner .form-group input[type="email"], .appointment-section .right-column .form-inner .form-group textarea {
  color: #bdbdbd;
  background: #fff;
  border: 1px solid rgba(189, 189, 189, .6);
  border-radius: 5px;
  width: 100%;
  height: 60px;
  padding: 10px 20px 10px 46px;
  font-size: 16px;
  transition: all .5s;
  display: block;
  position: relative;
}

.appointment-section .right-column .form-inner .form-group .icon {
  color: #bdbdbd;
  z-index: 1;
  font-size: 16px;
  position: absolute;
  top: 16px;
  left: 20px;
}

.appointment-section .right-column .form-inner .form-group textarea {
  resize: none;
  height: 136px;
}

.appointment-section .right-column .form-inner .form-group input:focus, .appointment-section .right-column .form-inner .form-group textarea:focus {
  border-color: var(--theme-color);
}

.appointment-section .pattern-layer {
  background-repeat: no-repeat;
  width: 584px;
  height: 544px;
  position: absolute;
  top: 0;
  right: 0;
}

.appointment-section .image-layer {
  position: absolute;
  bottom: 0;
  right: 0;
}

.appointment-style-two {
  padding-top: 120px;
  padding-bottom: 120px;
}

.appointment-style-two h2 {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  display: block;
}

.appointment-style-two .form-group {
  margin-bottom: 20px !important;
}

.appointment-style-two .single-column:last-child .form-group {
  margin-bottom: 0 !important;
}

.appointment-style-two .form-group.message-btn {
  margin-top: 40px;
}

.rtl .appointment-section {
  direction: ltr;
}

.rtl .appointment-section .left-column .content-box, .rtl .appointment-section .right-column .form-inner {
  text-align: right;
}

.rtl .appointment-section .right-column .form-inner .form-group input, .rtl .appointment-section .right-column .form-inner .form-group textarea {
  text-align: right;
  padding-left: 20px;
  padding-right: 46px;
}

.rtl .appointment-section .right-column .form-inner .form-group .icon {
  left: inherit;
  right: 20px;
}

@media only screen and (max-width: 991px) {
  .appointment-section .right-column {
    padding-left: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .appointment-section .left-column, .appointment-section .right-column {
    float: none;
    width: 100%;
    min-height: auto;
  }

  .appointment-section .left-column {
    padding-top: 80px;
  }

  .appointment-section.about-page .content_block_five .content-box {
    margin-top: 0;
  }

  .appointment-style-two {
    padding-bottom: 70px;
  }
}

@media only screen and (max-width: 599px) {
  .appointment-section .left-column .content-box {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
  }
}

@media only screen and (max-width: 499px) {
  .appointment-section .right-column .form-inner {
    padding-left: 30px;
    padding-right: 30px;
  }

  .appointment-section .right-column {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*# sourceMappingURL=public_assets_css_module-css_appointment_css_bad6b30c._.single.css.map*/