/* [project]/public/assets/css/flaticon.css [app-client] (css) */
@font-face {
  font-family: icomoon;
  src: url("../media/icomoon.031f5871.eot");
  src: url("../media/icomoon.031f5871.eot") format("embedded-opentype"), url("../media/icomoon.98785642.ttf") format("truetype"), url("../media/icomoon.aa8accc7.woff") format("woff"), url("../media/icomoon.d9cab644.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  speak: never;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-family: icomoon !important;
}

.icon-1:before {
  content: "";
}

.icon-2:before {
  content: "";
}

.icon-3:before {
  content: "";
}

.icon-4:before {
  content: "";
}

.icon-5:before {
  content: "";
}

.icon-6:before {
  content: "";
}

.icon-7:before {
  content: "";
}

.icon-8:before {
  content: "";
}

.icon-10:before {
  content: "";
}

.icon-12:before {
  content: "";
}

.icon-13:before {
  content: "";
}

.icon-14:before {
  content: "";
}

.icon-15:before {
  content: "";
}

.icon-16:before {
  content: "";
}

.icon-17:before {
  content: "";
}

.icon-18:before {
  content: "";
}

.icon-19:before {
  content: "";
}

.icon-20:before {
  content: "";
}

.icon-21:before {
  content: "";
}

.icon-22:before {
  content: "";
}

.icon-23:before {
  content: "";
}

.icon-24:before {
  content: "";
}

.icon-25:before {
  content: "";
}

.icon-26:before {
  content: "";
}

.icon-27:before {
  content: "";
}

.icon-28:before {
  content: "";
}

.icon-29:before {
  content: "";
}

.icon-30:before {
  content: "";
}

.icon-32:before {
  content: "";
}

.icon-33:before {
  content: "";
}

.icon-34:before {
  content: "";
}

.icon-35:before {
  content: "";
}

.icon-36:before {
  content: "";
}

.icon-37:before {
  content: "";
}

.icon-38:before {
  content: "";
}

.icon-39:before {
  content: "";
}

.icon-40:before {
  content: "";
}

.icon-41:before {
  content: "";
}

.icon-42:before {
  content: "";
}

.icon-43:before {
  content: "";
}

.icon-44:before {
  content: "";
}

.icon-45:before {
  content: "";
}

.icon-46:before {
  content: "";
}

.icon-48:before {
  content: "";
}

.icon-49:before {
  content: "";
}

.icon-50:before {
  content: "";
}

.icon-51:before {
  content: "";
}

.icon-52:before {
  content: "";
}

.icon-53:before {
  content: "";
}

.icon-54:before {
  content: "";
}

.icon-55:before {
  content: "";
}

.icon-56:before {
  content: "";
}

.icon-57 .path1:before {
  content: "";
}

.icon-57 .path2:before {
  content: "";
}

.icon-57 .path3:before {
  content: "";
}

.icon-57 .path4:before {
  content: "";
}

.icon-58:before {
  content: "";
}

.icon-59:before {
  content: "";
}

.icon-60:before {
  content: "";
}

.icon-61:before {
  content: "";
}

.icon-62:before {
  content: "";
}

.icon-63:before {
  content: "";
}

/*# sourceMappingURL=public_assets_css_flaticon_css_bad6b30c._.single.css.map*/